/* --- Fonts --- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
/* --- Colors --- */
/* --- Generic Form Field Styling --- */
/* line 3, ../../../../sass/liquid/languageOverrides/pl/pl_base.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1281px) {
  /* line 1, ../../../../sass/liquid/languageOverrides/pl/_tabletLandscape.scss */
  .ssoForgotPasswordLink {
    width: auto !important;
  }

  /* line 5, ../../../../sass/liquid/languageOverrides/pl/_tabletLandscape.scss */
  #startFieldError, #endFieldError {
    padding-left: 75px;
  }

  /* line 9, ../../../../sass/liquid/languageOverrides/pl/_tabletLandscape.scss */
  .homePageDeviceGroup ul li {
    height: 43px;
  }

  /* line 13, ../../../../sass/liquid/languageOverrides/pl/_tabletLandscape.scss */
  .homePage .sectionContent a {
    font-size: 11px;
  }

  /* line 17, ../../../../sass/liquid/languageOverrides/pl/_tabletLandscape.scss */
  .homePage .accountOptionsList ul li {
    height: 43px;
  }

  /* line 1, ../../../../sass/liquid/languageOverrides/pl/_bigscreen.scss */
  .ssoForgotPasswordLink {
    width: auto !important;
  }

  /* line 5, ../../../../sass/liquid/languageOverrides/pl/_bigscreen.scss */
  .homePage .sectionContent a {
    font-size: 11px;
  }

  /* line 9, ../../../../sass/liquid/languageOverrides/pl/_bigscreen.scss */
  .homePage .accountOptionsList ul li {
    height: 43px;
  }
}
@media screen and (min-width: 570px) and (max-width: 800px) {
  /* line 1, ../../../../sass/liquid/languageOverrides/pl/_tabletPortrait.scss */
  footer #accountSubMenuSection {
    top: -69px;
  }

  /* line 4, ../../../../sass/liquid/languageOverrides/pl/_tabletPortrait.scss */
  .ssoForgotPasswordLink {
    width: auto !important;
  }

  /* line 8, ../../../../sass/liquid/languageOverrides/pl/_tabletPortrait.scss */
  #startFieldError, #endFieldError {
    padding-left: 75px;
  }

  /* line 12, ../../../../sass/liquid/languageOverrides/pl/_tabletPortrait.scss */
  .homePage .sectionContent a {
    font-size: 11px;
  }

  /* line 16, ../../../../sass/liquid/languageOverrides/pl/_tabletPortrait.scss */
  .homePage .accountOptionsList ul li {
    height: 43px;
  }

  /* line 20, ../../../../sass/liquid/languageOverrides/pl/_tabletPortrait.scss */
  .homePageDeviceGroup ul li {
    height: 56px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1280px) {
  /* line 1, ../../../../sass/liquid/languageOverrides/pl/_tabletLandscape.scss */
  .ssoForgotPasswordLink {
    width: auto !important;
  }

  /* line 5, ../../../../sass/liquid/languageOverrides/pl/_tabletLandscape.scss */
  #startFieldError, #endFieldError {
    padding-left: 75px;
  }

  /* line 9, ../../../../sass/liquid/languageOverrides/pl/_tabletLandscape.scss */
  .homePageDeviceGroup ul li {
    height: 43px;
  }

  /* line 13, ../../../../sass/liquid/languageOverrides/pl/_tabletLandscape.scss */
  .homePage .sectionContent a {
    font-size: 11px;
  }

  /* line 17, ../../../../sass/liquid/languageOverrides/pl/_tabletLandscape.scss */
  .homePage .accountOptionsList ul li {
    height: 43px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 1, ../../../../sass/liquid/languageOverrides/pl/_mobilePortrait.scss */
  #mediaListFilter, #mediaListFilterItems {
    width: 86% !important;
  }

  /* line 5, ../../../../sass/liquid/languageOverrides/pl/_mobilePortrait.scss */
  .ssoForgotPasswordLink {
    width: auto !important;
  }

  /* line 9, ../../../../sass/liquid/languageOverrides/pl/_mobilePortrait.scss */
  .homePage .sectionContent a {
    font-size: 11px;
  }

  /* line 13, ../../../../sass/liquid/languageOverrides/pl/_mobilePortrait.scss */
  .homePage .accountOptionsList ul li {
    height: 43px;
  }

  /* line 17, ../../../../sass/liquid/languageOverrides/pl/_mobilePortrait.scss */
  .homePageDeviceGroup ul li {
    height: 43px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 569px) {
  /* line 1, ../../../../sass/liquid/languageOverrides/pl/_mobileLandscape.scss */
  .ssoForgotPasswordLink {
    width: auto !important;
  }

  /* line 5, ../../../../sass/liquid/languageOverrides/pl/_mobileLandscape.scss */
  .homePage .sectionContent a {
    font-size: 11px;
  }

  /* line 9, ../../../../sass/liquid/languageOverrides/pl/_mobileLandscape.scss */
  .homePage .accountOptionsList ul li {
    height: 43px;
  }

  /* line 13, ../../../../sass/liquid/languageOverrides/pl/_mobileLandscape.scss */
  .homePageDeviceGroup ul li {
    height: 43px;
  }
}
